.burger {
    height: 3px;
    width: 100%;
}
.burger_wrapper {
    margin-left: 10%;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.burger_1 {
    border-bottom: 3px solid #9678D3;
    width: 50%;
    margin-left: 50%;
}
.burger_2 {
    border-bottom: 3px solid #563D82;
}
.burger_3 {
    border-bottom: 3px solid #563D82;
    width: 50%;
    margin-right: 50%;
}

.burger_1,
.burger_2,
.burger_3 {
    height: 3px;
}

.background {
    background: #DDDAE8;
}
