.reasons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--primary-color);
    margin: 0 10%;
}

.reasons_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.reasons_text {
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    margin: 10px auto;
}

.centered {
    text-align: center;
}

.reasons_id {
    display: none;
}

.text_wrapper {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    padding: 0 20px;
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

@media (width <= 1060px) {
    .middle {
        padding: 0;
        border: none;
    }

    .reasons_id {
        font-size: 40px;
        font-weight: 800;
        display: block;
        margin-bottom: 14px;
    }

    .reasons_title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px
    }

    .reasons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .reasons_text {
        margin: 10px 0;
        max-width: 90%;
    }
}

@media (width <= 815px) {
    .reasons_id {
        font-size: 30px;
        font-weight: 800;
    }

}

@media (width <= 735px) {
    .reasons_title {
        justify-content: flex-start;

    }

    .text_wrapper {
        justify-content: flex-start;

    }

    .centered {
        text-align: left;
    }

    .reasons_text {
        margin: 0;
    }

    .reasons_wrapper {
        margin: 20px auto;
    }

}

@media (width <= 470px) {
    .text_wrapper {
        justify-content: flex-start;
    }
}

@media (width <= 370px) {
    .text_wrapper {
        justify-content: center;
    }

    .centered {
        text-align: center;
    }

    .reasons_title {
        justify-content: center;
        gap: 15px
    }

    .reasons_id {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .reasons_text {
        font-size: 13px;

    }

    .title {
        font-size: 18px;
    }

}
