.wrapper {
    width: 100%;
    background-color: #DDDAE8;
}
.right_part_mobile {
    color: #563D82;
    height: 300px;

    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;


}
.p_right_mobile {
    font-weight: 800;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.p_right_comment_mobile {
    font-weight: 800;
    font-size: 14px;
    margin: 0;
}
