:root {
  --gradient: linear-gradient(
          180deg,
          rgb(86 61 130) 0%,
          rgb(150 120 211) 76%,
          rgb(100 100 100) 100%);
  --max-width: 1512px;

  box-sizing: border-box;

    --primary-color: #563D82;
    --background-color: #DDDAE8;
    --secondary-color: #9648D3;
    --slightly-color: #DDDAE8;

}

body {
    margin: 0;
    padding: 0;
}

.width {
    max-width: 1500px;
    margin: 0 auto;
}

.button_htag_add {
    margin-top: 10px;
}

.button_span_add {
    margin-top: 15px;
}


@media screen and (width <= 1115px) {
    .button_span_add {
        margin-top: 8px;
    }
}

@media screen and (width <= 815px) {
    .button_span_add {
        margin-top: 5px;
    }
}

@media screen and (width <= 735px) {
    .button_span_add {
        margin-top: 12px;
    }
}
