:root {
  --gradient: linear-gradient(
          180deg,
          rgb(86.00000247359276, 61.00000016391277, 130.0000074505806) 0%,
          rgb(150.0000062584877, 120.00000044703484, 211.00000262260437) 76%,
          rgb(100.55981799960136, 100.55981799960136, 100.55981799960136) 100%);
  --max-width: 1512px;

  box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
}

.width {
    max-width: 1500px;
    margin: 0 auto;
}

.button_htag_add {
    margin-top: 10px;
}

.button_span_add {
    margin-top: 15px;
}


@media screen and (max-width: 1115px) {
    .button_span_add {
        margin-top: 8px;
    }
}

@media screen and (max-width: 815px) {
    .button_span_add {
        margin-top: 5px;
    }
}

@media screen and (max-width: 735px) {
    .button_span_add {
        margin-top: 12px;
    }
}
