.wrapperStyle {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
}

.cardWrapStyle {

    position: relative;
    width: 350px;
    height: 450px;
}

.cardStyle {
    position: absolute;
    top: -15px;
    left: 0;

    border-radius: 8px;
    transform-origin: center center;
    list-style: none;
}

._cursor_grab {
    cursor: grab;
}

._cursor_auto {
    cursor: auto;
}


@media screen and (max-width: 650px) {
    .wrapperStyle {


        width: 100%;
        height: 70vw;
    }
    .cardWrapStyle {

        width: 60vw;
        height: 30vw;
    }

    .cardStyle {

        width: 60vw;
        height: 30vw;
        top: -15vw;

    }
}
@media screen and (max-width: 425px) {
    .wrapperStyle {
        width: 100%;
        height: 65vw;
    }
    .cardWrapStyle {
        width: 60vw;
        height: 30vw;
    }

    .cardStyle {
        padding-left: 20px;
        width: 60vw;
        height: 30vw;
        top: -15vw;
        left: -4vw;
    }
}

@media screen and (min-width: 651px) {
    .wrapperStyle {
   display: none;
    }
}
