
.carouselContainer {
    overflow-x: hidden;
    margin-top: 15px;
}

.slick-track {
    display: flex;
    justify-content: space-between; /* Это позволит распределить слайды равномерно */
}

.slide {
    flex: 0 0 auto; /* Это предотвратит сжатие слайдов */
    margin-right: 20px; /* Это создаст промежуток между слайдами */
}

.slide:last-child {
    margin-right: 0; /* У последнего слайда не будет правого отступа */
}
