.window {
    margin: 0 10%
}

.nav {
    margin-top: 20px;
    margin-bottom: 2rem;
}

.ul {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

.selected {
    font-weight: 1000;
}

.selected .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
}


.grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 250px 1fr;
    grid-gap: 40px;
}

.grid_image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;

}

.grid_image_wrapper {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.grid_text {
    color: var(--primary-color);
    font-size: 26px;
    grid-column: 2;
    grid-row: 1;
}

.grid_button {
    grid-column: 2;
    grid-row: 2;
}

@media screen and (width <= 1425px) {
    .grid_text {
        font-size: 22px;
    }

    .grid_wrapper {
        grid-auto-rows: 230px 1fr;
    }
}

@media screen and (width <= 1115px) {
    .grid_text {
        font-size: 18px;
    }

    .grid_wrapper {
        grid-auto-rows: 180px 1fr;
    }
}

@media screen and (width <= 945px) {
    .window {
        display: none;
    }
}
