.button {
    border: none;
    color: white;
    cursor: pointer;
}

.big {
    width: 100%;
    height: 92px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.middle {
    width: 40vw;
    height: 70px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.small {
    width: 20vw;
    height: 64px;
    font-size: 22px;
}



.white {
    border: 4px solid white;
    background: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.white:hover {
    border-color: #563D82;
    background-color: #563D82;
}

.purple {
    background: #563D82;
    transition: background 0.3s ease;
}

.gradient {
    background: var(--gradient);
    transition: background 0.3s ease;
}

.purple:hover {
    background: #321d5b;
}

@media screen and (width <= 1100px) {
    .small {
        width: 20vw;
        height: 45px;
        font-size: 14px;
    }

    .white {
        border-width: 3px;
    }

    .middle {
        height: 50px;
        font-size: 16px;
    }

    .big {
        width: 100%;
        height: 75px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

@media screen and (width <= 945px) {
    .big {
        height: 60px;
        font-size: 16px;
    }
}

@media screen and (width <= 735px) {
    .small {
        width: 50vw;
        height: 42px;
        font-size: 16px;
    }

    .middle {
        height: 60px;
        width: 100%;
        font-size: 16px;
    }


}

@media screen and (width <= 425px) {
    .big {
        height: 55px;
        font-size: 14px;
    }
}

@media screen and (width >= 1500px) {
    .middle {
        width: 585px;
    }
}

@media screen and (width >= 2500px) {
    .small {
        width: 400px;
        height: 55px;
        font-size: 18px;
    }
}
