.content_image__big {

    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.content_images {
    position: relative;
    margin: 40px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
}

.content_wrapper {

    position: absolute;
    top: 25%;
    left: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    gap: 1vw;
    margin-left: 5%;
}

.content_wrapper_2 {

    left: 50%;
}

.content_description {
font-size: 24px;
}

.cosmomix {
    font-weight: 800;
}
.content_button {
    transition: ease 0.3s;
}

.content_button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1425px) {
    .content_description {
        font-size: 22px;
    }
}
@media screen and (max-width: 1115px) {
    .content_description {
        font-size: 18px;
    }
}

@media screen and (max-width: 945px) {
    .content_description {
        font-size: 16px;
    }
}
@media screen and (max-width: 815px) {
    .content_description {
        font-size: 14px;
    }
}

@media screen and (max-width: 735px) {
    .content_images {

        margin: 15px 10%;

        flex-direction: column;

    }
    .content_image__big {


        height: 300px;

    }

    .content_wrapper {

        position: absolute;
        top: 15%;
        left: 0;
        width: 80%;

    }

    .content_wrapper_2 {

        top: 70%;
    }

    .content_description {
        font-size: 12px;
    }
}
@media screen and (max-width: 540px) {
    .content_wrapper {

        top: 12%;

    }

    .content_wrapper_2 {

        top: 65%;
    }
}

@media screen and (min-width: 1501px) {
    .content_margin {
        margin-top: 100px;
    }
}
