.header {
    background-color: #fff;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav {
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav ul {
    padding: 0;
    list-style: none;
}

.nav li {
    cursor: pointer;
}

.nav_additional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(10px + 10vw);
}

.nav_main_li > li {
    white-space: nowrap;
}

.nav_main_li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(10px + 1.5vw);
}

.nav_main_link {
    text-decoration: none;
    color: var(--primary-color);
}

.nav_main_link:hover {
    font-weight: 500;
}

.nav_active {
    font-weight: 600;
}

.close_menu {
    display: none;
}

.burgerMenu {
    background-color: var(--background-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
}

.menu_wrapper {
    margin: 20px 30px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding: 50px 10px 20px 50px;
}

.list {
    list-style-type: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.menuItem {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}

.menuItem:hover {
    font-weight: 500;
}

.active {
    font-weight: 600;
}

/* Меню бургер */
.nav_mobile__burger {
    display: none;
}

.nav_mobile__burger__wrapper {
    margin-left: 10%;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

@media screen and (width <= 735px) {
    .header {
        height: 80px;
    }

    .nav_mobile {
        margin: 0 30px;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav_mobile__burger {
        display: block;
        cursor: pointer;
        background: none;
        border: none;
    }

    .nav_li__mobile {
        display: none;
    }

    .nav_additional {
        all: unset;
        height: 15px;
    }

    .menuItem {
        font-size: 20px;
        margin-bottom: 8px;
    }
}

@media screen and (width <= 630px) {
    .content {
        margin-left: -40px;
    }

    .menuItem {
        font-size: 16px;
    }
}

@media screen and (width <= 412px) {
    .content {
        margin-left: -60px;
    }

    .menuItem {
        font-size: 16px;
    }
}

@media screen and (width >= 736px) {
    .burgerMenu {
        display: none;
    }

    .content {
        display: none;
    }
}

.burger {
    height: 3px;
    width: 100%;
}

.burger_1 {
    border-bottom: 3px solid #9678D3;
    width: 50%;
    margin-left: 50%;
}

.burger_2 {
    border-bottom: 3px solid var(--primary-color);
}

.burger_3 {
    border-bottom: 3px solid var(--primary-color);
    width: 50%;
    margin-right: 50%;
}

.burger_1,
.burger_2,
.burger_3 {
    height: 3px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--background-color);
    z-index: -1;
}
